# Magic behaviour with __get, __set, __call and __callStatic is not exactly static analyser-friendly :)
# Fortunately, You can ingore it by the following config.
#
# vendor/bin/phpstan analyse app --memory-limit 200M -l 0
#
parameters:
  level: 4
  paths:
    - app
    - tests
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    - '#Variable \$router might not be defined.#'
    - '#Call to an undefined static method App\\Models\\[a-zA-Z0-9\\_]+::[a-zA-Z0-9_]+\(\)#'
